.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body {
    font-size: 14px;
    font-family: arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 6px;
    margin: 1em;
    margin-top: 0.2rem;
}

.lnav {
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    color: #222;
}

.rnav {
    display: flex;
    align-items: center;
    float: right;
    font-size: 13px;
    line-height: 17px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul,
li {
    display: inline;
}

.apps {
    display: inline-block;
    padding: 8px;
    margin-right: 1.7vh;
    margin-left: .5vh;
}

.pfp {
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

.lnav a:first-child {
    margin-right: 2.5vh;
}

.rnav li:last-child>a {
    margin-right: 0;
}

a {
    color: rgba(0,0,0,0.87);
    text-decoration: none;
    margin-right: 2vh;
}

a:hover {
    text-decoration: underline;
}

a>svg {
    color: #5f6368;
    fill: currentColor;
    width: 24px;
    height: 24px;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.logo img {
    min-width: 172px;
    max-height: 92px;
    padding-top: 109px;
}

.gsearch {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.searchbar {
    display: flex;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 44px;
    width: 570px;
    align-items: center;
    padding: 0 8px 2px 16px;
  
}

.searchbar:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}

.search-icon {
    width: 25px;
    height: 25px;
    margin-right: 1rem;
}

span {
    color: #9aa0a6;
    fill: currentColor;
    margin-top: 3px;
}

svg {
    width: 20px;
    height: 20px;
}

input {
    display: flex;
    background-color: transparent;
    height: 34px;
    flex: 100%;
    font-size: 16px;
    border: none;
}

input:focus {
    outline-width: 0;
}

.search-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.4rem;
}

.button-search {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 34px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
  }
  
.button-search:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

input[type="submit"] {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

input[type="submit"]:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    border: 1px solid #dadce0;
    background-color: #f8f9fa;
    color: #202124;
    cursor: pointer;
}

.space {
    flex-grow: 1;
}

footer {
    display: flex;
    justify-content: space-between;
    background: #f2f2f2;
    padding: 0 20px;
}

.lfooter {
    display: flex;
    justify-content: flex-start;
    min-width: 40%;
}

.rfooter {
    display: flex;
    justify-content: flex-end;
    min-width: 30%;
}

footer a {
    padding: 15px;
    color: #70757a;
    margin-right: 0.3vh;
}

footer a:last-child {
    margin-right: 0;
}

